body {
	/*wyzerowanie marginesu*/
	margin: 0;
	/*body ma zajmować wysokosć przeglądarki*/
	height: 100vh;
	/*wyśrodkowanie elementu canvas*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*kolor tła całej strony*/
	background-color: darkgray;
}

canvas {
	/*określamy obramowania canvas*/
	border: 3px solid #fff;
}
